.blockCenter {
    margin: 0 auto;
    width:50%;
}

#profileTab {
    width: 30%;
}

#div-add-ingredient {
    display : none;
}

#div-add-step {
    display : none;
}

.warningInput {
    border-color: red !important;
}

.navbar {
    margin-bottom: 0;
}
  
.jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
    margin-bottom: 0;
    background-color: #fff;
}
  
.jumbotron p:last-child {
    margin-bottom: 0;
}
  
.jumbotron-heading {
    font-weight: 300;
}
  
.jumbotron .container {
    max-width: 40rem;
}
  
.album {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #f7f7f7;
}
  
  
.card-album > img {
    margin-bottom: .75rem;
}
  
.card-text {
    font-size: 85%;
}
  
footer {
    bottom: 0;
    width: 100%;
    position: inherit;
    z-index: auto;
}
  
footer p {
    margin-bottom: .25rem;
}

.img-card {
    max-height: 200px;
    object-fit: cover;
}

.shadow {
 box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.text-dark {
    color: black !important;
    text-decoration: none !important;
}

.text-center {
    position: relative;
}

#image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#title-recipe {
    position: absolute;
    max-width: 500px;
    color: #eee;
    text-shadow: black 0px 0px 11px;
}

.text-grey {
    color: #5a5c69;
}

.backgroud-footer {
    background-color: #e3e3e3;
}